@import "../common/var.scss";

@mixin button-variant ($backgroundColor, $borderColor, $fontColor) {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $fontColor;

  &:hover {
    background-color: mix($--color-white, $backgroundColor, $--button-hover-tint-percent);
    border-color: mix($--color-white, $borderColor, $--button-hover-tint-percent);
    color: $fontColor
  }

  &:focus {
    background-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    border-color: mix($--color-black, $borderColor, $--button-active-shade-percent);
    color: $fontColor
  }

  &.is-plain {
    @include button-plain($backgroundColor);
  }
}

@mixin button-plain ($backgroundColor) {
  color: $backgroundColor;
  background-color: mix($--color-white, $backgroundColor, 90%);
  border-color: mix($--color-white, $backgroundColor, 60%);

  &:hover {
    background-color: $backgroundColor;
    border-color: $backgroundColor;
    color: $--color-white;
  }

  &:active {
    background-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    border-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    color: $--color-white;
  }
}