@import "../common/var.scss";

@mixin button-variant ($backgroundColor, $borderColor, $fontColor) {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $fontColor;

  &:hover,
  &:focus {
    background-color: mix($--color-white, $backgroundColor, $--button-hover-tint-percent);
    border-color: mix($--color-white, $borderColor, $--button-hover-tint-percent);
    color: $fontColor
  }

  &:active {
    background-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    border-color: mix($--color-black, $borderColor, $--button-active-shade-percent);
    color: $fontColor
  }

  &.is-plain {
    @include button-plain($backgroundColor);
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: mix($--color-white, $backgroundColor);
      border-color: mix($--color-white, $backgroundColor);
    }
  }
}

@mixin button-plain ($backgroundColor) {
  color: $backgroundColor;
  background-color: mix($--color-white, $backgroundColor, 90%);
  border-color: mix($--color-white, $backgroundColor, 60%);

  &:hover,
  &:focus, {
    background-color: $backgroundColor;
    border-color: $backgroundColor;
    color: $--color-white;
  }

  &:active {
    background-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    border-color: mix($--color-black, $backgroundColor, $--button-active-shade-percent);
    color: $--color-white;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($--color-white, $backgroundColor, 40%);
      background-color: mix($--color-white, $backgroundColor, 90%);
      border-color: mix($--color-white, $backgroundColor, 80%);
    }
  }
}

@mixin button-size ($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;

  &.is-circle {
    padding: $padding-vertical;
  }
}